USE [DataCollection]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePartIDWithGUID]    Script Date: 24-Oct-23 1:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[UpdatePartIDWithGUID]
AS
BEGIN
    -- Update the part_id in the endtest_result_entry table
    UPDATE E
    SET E.[part_id] = NULL  -- Set part_id to NULL
    FROM [DataCollection].[dbo].[endtest_result_entry] E
    INNER JOIN [part_master] P ON E.[dc_type] = P.[part_description]
    WHERE  P.[is_deleted] = 1;  -- Check if is_deleted is 1

    -- Update the part_id in the endtest_result_entry table when is_deleted is not 1
    UPDATE E
    SET E.[part_id] = P.[id]
    FROM [DataCollection].[dbo].[endtest_result_entry] E
    INNER JOIN [part_master] P ON E.[dc_type] = P.[part_description]
    WHERE E.[part_id] IS NULL AND P.[is_deleted] = 0;

    -- Update the dc_type in the endtest_result_entry table if part_id is not null
    UPDATE E
    SET E.[dc_type] = P.[part_description]
    FROM [DataCollection].[dbo].[endtest_result_entry] E
    INNER JOIN [part_master] P ON E.[part_id] = P.[id]
    WHERE E.[part_id] IS NOT NULL AND P.[is_deleted] = 0
      AND E.[dc_type] <> P.[part_description];
END;
