<link rel="stylesheet" href="../styles/button.css">
<div class="ph-container">
    <div class="ph-float">
        <a href='#' class='ph-button ph-btn-blue'>Flat Blue</a>
    </div>
  
    <div class="ph-float">
        <a href='#' class='ph-button ph-btn-green'>Add New Product</a>
    </div> 
  
    <div class="ph-float">
        <a href='#' class='ph-button ph-btn-grey'>Flat Grey</a>
    </div> 
     <div class="ph-float">
        <a href='#' class='ph-button ph-btn-red'>Flat Red</a>
    </div>    
</div>    

<div class="ph-clear"></div>   
<li><i class="fas fa-door-open icon"></i><a href="../../styles/button.css">test</a></li>