<!DOCTYPE html>
<html class="duet-bg-gradient duet-sticky-footer" lang="fi">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>LähiTapiola</title>

 <link rel="stylesheet" href="http://localhost:8000/styles/localtapiola.css"  />
  <link rel="stylesheet" href="http://localhost:8000/styles/duet.min.css"  />
  <link rel="stylesheet" href="http://localhost:8000/styles/tokens.custom-properties.css"  />
  <script type="module" src="http://localhost:8000/scripts/duet.esm.js" ></script>
  <script nomodule src="http://localhost:8000/scripts/duet.js"></script>

  <!-- <link rel="stylesheet" href="http://localhost:8000/styles/localtapiola.css" integrity="sha384-5JYmtSD7nykpUvSmTW1CHMoBDkBZUpUmG0vuh+NUVtZag3F75Kr7+/JU3J7JV6Wq" crossorigin="anonymous" />
  <link rel="stylesheet" href="http://localhost:8000/styles/duet.min.css" integrity="sha384-Rr9cMsT3WwT/R75uQz7pZhQirbSQeimsnsYyAbtZtCBq+9GjwG1nGkJex1SQhDao" crossorigin="anonymous" />
  <link rel="stylesheet" href="http://localhost:8000/styles/tokens.custom-properties.css" integrity="sha384-rxTcztOdY2IJ7Qut98AqRJJY5tXpDexWKN6csXh9raZkxudeSn7Ls9VHTrAC5qrs" crossorigin="anonymous" />
  <script type="module" src="http://localhost:8000/scripts/duet.esm.js" integrity="sha384-LQiLIGdgR+y0kGKzBV2kcRpRgazBCGaMzDaOUSMNlUqth3DXMSsc6rNARc2UhmST" crossorigin="anonymous"></script>
<script nomodule src="http://localhost:8000/scripts/duet.js" integrity="sha384-2nKeuff2w0cNuJNazENj/Ym9ZjPh6htB15LN9sKxAjPv357oHOTh54v5vOUUbaqY" crossorigin="anonymous"></script> -->

<!-- <link rel="stylesheet" href="https://cdn.duetds.com/api/fonts/2.0.7/lib/localtapiola.css" integrity="sha384-5JYmtSD7nykpUvSmTW1CHMoBDkBZUpUmG0vuh+NUVtZag3F75Kr7+/JU3J7JV6Wq" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.duetds.com/api/css/2.0.7/lib/duet.min.css" integrity="sha384-Rr9cMsT3WwT/R75uQz7pZhQirbSQeimsnsYyAbtZtCBq+9GjwG1nGkJex1SQhDao" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.duetds.com/api/tokens/3.0.7/lib/tokens.custom-properties.css" integrity="sha384-rxTcztOdY2IJ7Qut98AqRJJY5tXpDexWKN6csXh9raZkxudeSn7Ls9VHTrAC5qrs" crossorigin="anonymous" />
  <script type="module" src="https://cdn.duetds.com/api/components/6.0.7/lib/duet/duet.esm.js" integrity="sha384-LQiLIGdgR+y0kGKzBV2kcRpRgazBCGaMzDaOUSMNlUqth3DXMSsc6rNARc2UhmST" crossorigin="anonymous"></script>
<script nomodule src="https://cdn.duetds.com/api/components/6.0.7/lib/duet/duet.js" integrity="sha384-2nKeuff2w0cNuJNazENj/Ym9ZjPh6htB15LN9sKxAjPv357oHOTh54v5vOUUbaqY" crossorigin="anonymous"></script> -->

</head>
<body>
<link rel="stylesheet" href="../styles/pagination.css"/>
<duet-layout center>
  <div slot="main">
    <duet-card>
      <duet-heading level="h1" visual-level="h3">Duet-editable-table with Duet-pagination</duet-heading>

      <duet-editable-table margin="auto" sticky sticky-distance="none" variation="striped" sortable>
        <div class="example-menu" slot="thead-first">
          <div>
            <ul role="menubar">
              <li role="menuitem">
                <duet-button
                  accessible-label="Download the table as a CSV file"
                  fixed
                  icon="action-download"
                  icon-size="medium"
                  margin="none"
                  padding="none"
                  variation="plain"
                >
                  Download as CSV
                </duet-button>
              </li>
              <li role="menuitem">
                <duet-button
                  accessible-label="Copy the data to you Clipboard as csv"
                  fixed
                  icon="form-file"
                  icon-size="medium"
                  margin="none"
                  padding="none"
                  variation="plain"
                >
                  copy
                </duet-button>
              </li>
              <li role="menuitem" class="menu-select">
                <duet-select
                  label-hidden
                  label="which types to show in table"
                  value="all"
                  variation="tiny"
                  id="invoice-type"
                ></duet-select>
              </li>
            </ul>
          </div>
        </div>
        <div class="pagination-menu" slot="tfoot">
          <duet-pagination take="5" visible-items="5" total="1000"></duet-pagination>
          <duet-select label-hidden label="select range" value="5" variation="tiny" id="pagination-take"></duet-select>
        </div>
      </duet-editable-table>
      <duet-paragraph> </duet-paragraph>
    </duet-card>
  </div>
</duet-layout>

<script src="../scripts/pagination-script-1.js"></script>
<script src="../scripts/pagination-script-2.js"></script>
<script src="../scripts/pagination-script-3.js"></script>

</body>
</html>

