.product-master-card{
    width: 1550px;
    height: 150px;
    background-color: #1E2B32;
    border-radius: 10px 10px;
    position:absolute;
    left: 330px;
    top: 75px;
    margin-top: 5px;
    margin-right: 5px;
    }

label{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin-left: 1rem;
  width: 180px;
  height:12px;
  }

