@import url('/styles/fonts/roboto.css');
.body-background {
    background-color: hsl(202, 33%, 23%);
    background-size: contain;
    line-height: 1.05;
  }

.a-side-menu {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    
  }
  
.a-side-menu:hover{
    transition: 1s all;
    color: #2f89fc;
    background-color: rgba(42, 56, 65, 0.82);
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    cursor: pointer;
  }


.h3-side-menu {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    width: 250px;
    height: 12px;
    font-size: 19px;
    font-weight: bold; 
    margin-bottom: 17px;
    margin-left: 1.7rem;
  }

.ul-side-menu {
    margin-top:20px;
  }   


.user_card{
    margin-left: 8px;;
    }
.menu_card {
    margin-left: 8px;
}

